@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .card-wrapper {
    @apply relative overflow-hidden rounded-2xl bg-gradient-to-b from-slate-700 to-slate-800;
  }

  .card-wrapper::before {
    background: conic-gradient(
        rgb(114, 244, 227) 0deg,
        rgb(255, 255, 255) 0deg,
      transparent 270deg
    );

    @apply absolute left-[-25%] top-[-25%] h-[150%] w-[150%];
    animation: border-spin 7s linear infinite;
  }

  .card-content {
    @apply absolute left-[1px] top-[1px] h-[calc(100%-2px)] w-[calc(100%-2px)] rounded-2xl bg-gradient-to-b from-slate-800 to-slate-900;
  }
}
          




/* .card-wrapper:hover .card-content {
  transform: scale(0.98);
}

@keyframes border-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */